!!!
%html
  %head
    %title Where's My School Bus
    %link{:href => 'https://fonts.googleapis.com/css?family=Enriqueta:400,700', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %script{ src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_KEY']}&sensor=false", type: 'text/javascript' }

  %body{ class: controller.controller_name }
    - if notice || alert
      .notifications
        = notice || alert
        %a.icon-cancel-circle{ href: 'javascript:void(0)' }
    = yield
    .footer
      %a{href: "http://www.bostonpublicschools.org", target: "_blank"}
        .bps-logo
      .contact
        %a{href: "http://www.bostonpublicschools.org/transportation", target: "_blank"}Boston Public Schools Transportation Department
        %a{href: "mailto:schoolbus@bostonpublicschools.org"}schoolbus@bostonpublicschools.org
        %a{href: "tel:617-635-9520"}617-635-9520
      .credit
        %p Built by
        %a{href: "http://www.vermonster.com/", target: "_blank"}
          .vermonster-logo
