!!!
%html
  <!--[if IE 8]><body class="lt-ie9" lang="en"><![endif]-->
  %head
    %title Where's My School Bus
    %link{:href => 'https://fonts.googleapis.com/css?family=Enriqueta:400,700', :rel => 'stylesheet', :type => 'text/css'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: '57x57', href: '/assets/apple-touch-icon-57x57-precomposed.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: '72x72', href: '/assets/apple-touch-icon-72x72-precomposed.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: '114x114', href: '/assets/apple-touch-icon-114x114-precomposed.png'}
    %link{rel: 'apple-touch-icon-precomposed', sizes: '144x144', href: '/assets/apple-touch-icon-144x144-precomposed.png'}
    %link{rel: 'shortcut icon', href: '/assets/favicon.png'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %script{ src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_KEY']}&sensor=false", type: 'text/javascript' }

    %meta{ name: 'viewport', content: 'width=device-width, minimum-scale=1.0, maximum-scale=1.0' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}

  %body{ class: controller.controller_name }
    .notifications{ class: notice || alert ? '' : 'closed' }
      %span.message= notice || alert
      %a.icon-cancel-circle{href: 'javascript:void(0)'}
    = yield
    .footer
      %a.bps-logo{href: "#{t('application.school_system_url')}", target: "_blank"}
      .contact
        %a.small-text{href: "#{t('application.school_system_url')}", target: "_blank"}=t('application.school_system_name')
        %a.icon-contact.icon-mail{href: "#{t('application.school_system_name_url')}"}
          %a.small-text.text-contact{href: "mailto:#{t('application.school_system_email')}"}=t('application.school_system_email')
        %a.icon-contact.icon-phone{href: "tel:#{t('application.school_system_phone_number')}"}
        .small-text.text-contact=t('application.school_system_phone_number')
      .credit
        %p.small-text Built by
        %a.small-text.vermonster-text{href: "http://www.vermonster.com/", target: "_blank"} Vermonster
        %a.vermonster-logo{href: "http://www.vermonster.com/", target: "_blank"}
    - if GOOGLE_ANALYTICS
      = render 'layouts/google_analytics'
