!!!
%html
  %head
    %title Where's My School Bus
    %link{:href => 'https://fonts.googleapis.com/css?family=Enriqueta:400,700', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %script{ src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_KEY']}&sensor=false", type: 'text/javascript' }

  %body{ class: controller.controller_name }
    .notifications{ class: notice || alert ? '' : 'closed' }
      %span.message= notice || alert
      %a.icon-cancel-circle{href: 'javascript:void(0)'}
    = yield
    .footer
      %a.bps-logo{href: "http://www.bostonpublicschools.org", target: "_blank"}
      .contact
        %a.small-text{href: "http://www.bostonpublicschools.org/transportation", target: "_blank"} Boston Public Schools Transportation Department
        %a.icon-contact.icon-mail{href: "mailto:schoolbus@bostonpublicschools.org"}
        %a.small-text.text-contact{href: "mailto:schoolbus@bostonpublicschools.org"} schoolbus@bostonpublicschools.org
        %a.icon-contact.icon-phone{href: "tel:617-635-9520"}
        %a.small-text.text-contact{href: "tel:617-635-9520"} 617-635-9520
      .credit
        %p.small-text Built by
        %a.vermonster-logo{href: "http://www.vermonster.com/", target: "_blank"}
